- name: Deploy ansible-semaphore
  hosts: berry

  tasks:
    - name: Execute ansible-semaphore docker-compose file
      docker_compose:
        project_src: ../docker
        project_name: ansible-semaphore
        state: present
        files:
          - docker-compose.yml
        docker_host: "tcp://{{ ansible_eth0.ipv4.address }}:2375"
      delegate_to: localhost