- name: Deploy ansible-semaphore
  hosts: berry
  become: true
  
  tasks:
    - name: Execute ansible-semaphore docker-compose file
      docker_compose:
        project_src: "{{ playbook_dir }}/../docker"
        project_name: ansible-semaphore
        state: present
        files:
          - docker-compose.yml